<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catergorias</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Total</th>
                <th>Produtos</th>
                <th>Data</th>
            </tr>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.sale.total }}</td>
                    <td>
                        {% for product in sale.sale.products %}
                            <p>{{product.product.name}}</p>
                            <p>QTD:</p>
                            <p>{{product.quantity}}</p>
                            <p>Valor:</p>
                            <p>{{product.price}}</p>
                        {% endfor %}
                    </td>
                    <td>{{ sale.formattedDate }}</td>
                    <td>
                        <form action="/sales/delete/{{sale._id}}?_method=DELETE" method="post">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>

