{% extends "layout.njk" %}

{% block head %}
    <title>Vendas</title>
    <link rel="stylesheet" href="/sale.css"/>
{% endblock %}

{% block content %}
    <div class="content">

        <div class="row">
            <div class="col-md-6">
                <h4>Vendas</h4>
            </div>
            <div class="col-md-6 box-balance">
                <strong class="sales">Vendas: {{ sales.length }} </strong>
                <strong class="balance">Total: {{ total }}</strong>
            </div>
        </div>

        <form class="search" action="/salesdates" method="post">
            <div class="row">            
                <div class="col-md-4">
                    <label for="startDate" class="form-label">Data Inicial</label>
                    <input id="startDate" value="{{startDate}}" class="form-control" type="date" name="startDate" />
                </div>
                <div class="col-md-4">
                    <label for="finalDate" class="form-label">Data final</label>
                    <input id="finalDate" value="{{finalDate}}" class="form-control" type="date" name="finalDate" />
                    </div>
                <div class="col-md-4">
                    <button class="btn btn-primary bnt-exit" type="submit">Pesquisar</button>
                    {% if dateFilter != false %}
                        <a href="/sales" class="btn btn-secondary">Limpar</a>
                    {% endif %}
                </div>
            </div>
        </form>

        <div class="row box-sale-row">
            {% for sale in sales %}
                {% if sale != null %}
                    <div class="box-sale col-md-3">
                        <div class="header"> 
                            <div class="">
                                <strong class="data">{{ sale.formattedDate }}</strong>
                            </div>
                        
                            <div class="total">
                                <strong>Total: {{ sale.sale.formattedTotal }}</strong>
                            </div>
                        </div>

                        <div class="box-descount">
                            <strong>Desconto: {{sale.sale.descount}} %</strong>
                        </div>

                        <div class="row box-button">
                            <form  action="/sales/delete/{{sale._id}}?_method=DELETE" method="POST" onSubmit="deleteSale(event)">
                                <button class="btn btn-danger button-delete">Deletar</button>
                            </form>
                        </div>
                        
                        {% for product in sale.sale.products %}
                                <div class="data-product">
                                    <strong>{{product.product.name}}</strong>
                                    <strong>QTD: {{product.quantity}}</strong>
                                    <strong>Valor: {{product.formattedPrice}}</strong>
                                </div>  
                            
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

<script>
    function deleteSale(e) {
        if(!window.confirm("Deseja realmente deletar essa venda ?")) {
            e.returnValue = false; 
        }
    }
</script>
{% endblock %}        

        


