{% extends "layout.njk" %}
{% block head %}
    <title>Entradas e Saídas</title>
     <link rel="stylesheet" href="/entranceandexitdetails.css"/>
{% endblock %}

{% block content %}
<div class="content">
    <h4>Detalhes de Entrada e Saída</h4>

    <form class="search" action="/entrancesandexitsdatailsdates" method="post">
        <div class="row">            
            <div class="col-md-4">
                <label for="startDate" class="form-label">Data Inicial</label>
                <input id="startDate" value="{{startDate}}" class="form-control" type="date" name="startDate" />
            </div>
            <div class="col-md-4">
                <label for="finalDate" class="form-label">Data final</label>
                <input id="finalDate" value="{{finalDate}}"  class="form-control" type="date" name="finalDate" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary bnt-exit" type="submit">Pesquisar</button>
                {% if dateFilter != false %}
                    <a href="/entrancesandexitsdatails" class="btn btn-secondary">Limpar</a>
                {% endif %}
            </div>
        </div>
    </form>

     <div class="row">            
            <div class="col-md-4 box-data">
                <label  class="form-label label-data">Entradas</label>
                <br/>
                <strong href="#" class="data entrance">{{totalEntrance}}</strong>
            </div>
            <div class="col-md-4 box-data">
                <label  class="form-label label-data">Saídas</label>
                <br/>
                <strong href="#" class="data exit">{{totalExit}}</strong>
            </div>
            <div class="col-md-4 box-data">
                <label  class="form-label label-data">Saldo</label> 
                <br/>
                <strong href="#" class="data balance">{{balance}}</strong>
            </div>
        </div>
</div>    
{% endblock %}
       