<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Catergoria</title>
    </head>
    <body>
        <h1>Update Catergoria</h1>
        <form action="/categorys/edit/{{category._id}}?_method=PUT" method="post">
            <input type="text" name="name" placeholder="Nome" value="{{category.name}}"/>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>