{% extends "layout.njk" %}

{% block head %}
    <title>Entradas</title>
    <link rel="stylesheet" href="entrance.css"/>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <h4>Entradas</h4>
            </div>
            <div class="col-md-6 box-balance">
                <strong class="sales">Vendas: {{ entrances.length }} </strong>
                <strong class="balance">Total: {{ total }}</strong>
            </div>
        </div>

        <form class="search" action="/entrancesdate" method="post">
            <div class="row">            
                <div class="col-md-4">
                    <label for="startDate" class="form-label">Data Inicial</label>
                    <input id="startDate" value="{{startDate}}" class="form-control" type="date" name="startDate" />
                </div>
                <div class="col-md-4">
                    <label for="finalDate" class="form-label">Data final</label>
                    <input id="finalDate" value="{{finalDate}}" class="form-control" type="date" name="finalDate" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                    {% if dateFilter != false %}
                        <a href="/entrances" class="btn btn-secondary">Limpar</a>
                    {% endif %}
                </div>
            </div>
        </form>
        
        <table class="table table-striped table-hover">
            <tr>
                <th>Tipo de Entrada</th>
                <th>Valor</th>
                <th>Data</th>
            </tr>
            {% for entrance in entrances %}
                {% if entrance != null %}
                    <tr>
                        <td><a href="#">Venda</a></td>
                        <td>{{ entrance.formattedValue }}</td>
                        <td>{{ entrance.formattedDate }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>    
{% endblock %}

        

