<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Document</title>
        {% endblock %} 
        <link rel="stylesheet" href="/styles.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">  
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary" id="navbartop">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Rede Cell</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productslist">Cadastro de Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Realizar Venda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entrancesandexits">Entrada e Saída</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-logout nav-link" action="/logout" method="post">
                            <button class="btn-exit "><i class="bi bi-power"></i>Sair</button>
                        </form>
                    </li>
                </ul>
                </div>
            </div>
        </nav>          
        <div class="wrapper">
            <nav id="sidebar">

                <div class="sidebar-header">
                    <h4><a href="/">Rede Cell</a></h4>
                </div>

                <ul class="list-unstyled components">
                    <p>MENU</p>
                    
                    <li>
                        <a href="/productslist"><i class="bi bi-bag-plus"></i>Cadastro de Produtos</a>
                    </li>
                    
                    <li>
                        <a href="/sales"><i class="bi bi-bag-check"></i>Vendas</a>
                    </li>
                     <li>
                        <a href="/cart"><i class="bi bi-cart-plus"></i>Realizar Vendas</a>
                    </li>
                    <li>
                        <a href="/entrancesandexits"><i class="bi bi-bar-chart-line "></i>Entrada e Saída</a>
                    </li>
                </ul>

                <form class="form-logout" action="/logout" method="post">
                    <button class="btn-exit"><i class="bi bi-power"></i>Sair</button>
                </form>
            </nav>

            <div class="container content" id="content">
                {% block content %}
            
                {% endblock %}  
            </div>
        </div>  
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
