{% extends "layout.njk" %}
{% block head %}
    <title>Produtos</title>
    <link rel="stylesheet" href="/product.css"/>
{% endblock %}

{% block content %}
    <div class="content">
        <h4>Cadastro de Produtos</h4>

        <form class="form-product" action="/products" method="post" onSubmit="registerProduct(event)">
            <div class="row">
                <p class="message-error">{{message}}</p>
                <div class="col-md-3">
                    <label class="form-label">Código do produto</label>
                    <input class="form-control" type="text" name="barcode" placeholder="Código do produto" value="{{barcode}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Nome do produto *</label>
                    <input class="form-control" type="text" name="name" placeholder="Nome do produto" value="{{name}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Preço de venda *</label>
                    <input class="form-control" type="text" name="salePrice" placeholder="Preço de venda" value="{{salePrice}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Quantidade *</label>
                    <input class="form-control" type="text" name="amount" placeholder="Quantidade" value="{{amount}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Data de Vencimento</label>
                    <input class="form-control" type="date" name="expirationDate" placeholder="Data de validade" value="{{expirationDate}}"/>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button class="btn btn-primary bnt-product" type="submit">Cadastrar</button>
                </div>
            </div>
        </form>

        <h4>Listagem de Produtos</h4>

        <form class="search" action="/productslist" method="post">
            <input class="form-control" type="text" placeholder="Código do produto" name="searchBarcode" value="{{searchBarcode}}" autofocus/>
            <input class="form-control" type="text" placeholder="Nome do produto" name="nome" />
            <button class="btn btn-primary" type="submit">Pesquisar</button>
            {% if filterActive === true %}
                <a href="/productslist" class="btn btn-secondary">Limpar</a>
            {% endif %}
        </form>
        
        <table class="table table-striped table-hover">
            <tr>
                <th>Código do Porduto</th>
                <th>Nome</th>
                <th>Preço de Venda</th>
                <th>Quantidade</th>
                <th>Data de Vencimento</th>
                <th>Ação</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.formattedSalePrice }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.formattedExpirationDate }}</td>
                    <td>
                        <div class="action">
                            <a href="/products/edit/{{product._id}}"><i class="bi bi-pencil-fill"></i></a>       
                            <form  name="myform" action="/products/delete/{{product._id}}?_method=DELETE" method="post" onSubmit="deleteProdutct(event)">
                                <button type="submit" class="delete"><i class="bi bi-trash-fill"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
<script>
    window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'&&e.target.name=='barcode'){e.preventDefault();return false;}}},true);
    function deleteProdutct(e) {
        if(!window.confirm("Deseja realmente deletar o protudo ?")) {
            e.returnValue = false; 
        }
    }
</script>
{% endblock %}