<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <form action="/users" method="post">
            <input type="text" name="name" placeholder="Informe deu nome"/>
            <input type="email" name="email" placeholder="Informe deu E-mail"/>
            <input type="password" name="password" placeholder="Informe sua senha"/>

            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>