<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Catergoria</title>
    </head>
    <body>
        <h1>Cadastro de Catergoria</h1>
        <form action="/categorys" method="post">
            <input type="text" name="name" placeholder="Nome da Categoria"/>

            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>